@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../node_modules/react-responsive-carousel/lib/styles/carousel.min.css';
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--foreground);
  background: var(--background);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#tt1-abt, #tt2-abt {
  text-shadow: 2px 12px #ffffff22;
}
#mapAreaRendered {
	width: 100%;
	height: 100vh
}
